<% provide(:title, "User | Reset Password") %>


<div class="body-container">

  <h1>Reset password: <span style="font-size:25px"><%= @user.name %></span></h1>

  <%= form_tag(reset_user_password_path(@user), {class: "form-horizontal", role: "form"}) do %>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this blood donor from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <div class="pad-lft-2">
          <%= label_tag :password, 'Password', class: "col-sm-2 control-label" %>
          <div class="col-sm-5">
            <%= password_field_tag :password, '', {class:"form-control", placeholder:"New Password", required: true} %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="pad-lft-2">
          <%= label_tag :password_confirmation, "Confirmation", class: "col-sm-2 control-label" %>
          <div class="col-sm-5">
            <%= password_field_tag :password_confirmation, '', {class:"form-control", placeholder:"Repeat Password", required: true}  %>
          </div>
        </div>
      </div>

      <%= submit_tag('Update Password' , {class: "btn btn-large btn-primary submit-btn"}) %>
  <% end %>
</div>

<i class="glyphicon glyphicon-chevron-left"></i> <%= link_to 'Back', users_path %>