<div class="header-container">
  <div class="masthead">
    <!-- <h3 class="masthead-brand"><%= image_tag("Capture.JPG", size: "150x50") %></h3> -->
    <h3 class="masthead-brand">Fong4Life</h3>
    <div class="inner div-inner">
      <ul class="nav masthead-nav">
        <li class="<%= 'active' if current_page?(home_path) %>"><%= link_to "Home", home_path %></li>
        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
        <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
        <% if signed_in? %>
            <li class="<%= 'active' if current_page?(blood_donors_path) %>"><%= link_to "Donors", blood_donors_path %></li>
            <li class="<%= 'active' if current_page?(blood_receivers_path) %>"><%= link_to "Recipients", blood_receivers_path %></li>
            <li class="<%= 'active' if current_page?(dashboard_path) %>"><%= link_to "Charts", dashboard_path %></li>
            <% if current_user.user_role.name == 'Admin'  %>
              <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Users", users_path %></li>
            <% end %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Account <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu"  aria-labelledby="dLabel">
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li><%= link_to "Change Password", edit_user_password_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
        <% else %>
            <li class="<%= 'active' if current_page?(signin_path) %>">
              <%= link_to "Sign In", signin_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>